/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {
  // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy"
  publish_dir_mode="copy" 

  // Global

  outdir      = "/path/to/outdir"
  reads         = "/path/to/input_folder/*_*{1,2}.fastq.gz"	
  skip_reference_indexing = true
  bwa_cmd_args = "-t 3"
  cutadapt_cmd_args = "--paired --cores 4 "

  ichordir = "/software/ichorCNA-master"

  // References
  references {
    bwa = "/path/to//Reference/bwa_GRCh38/"
    fasta = "/paht/to/Reference/bwa_GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    gtf = "/path/to/Reference/bwa_GRCh38/Homo_sapiens.GRCh38.101.gtf"
  }
}


process.container = 'ichor_container:latest'
docker {
enabled = true
}



