/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {
  // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy"
  publish_dir_mode="copy" 

  //softwares
  ichordir = "/path/to/ichorCNA-master"
  picard = "/home/.local/bin/picard/build/libs/picard.jar"
  tf_script = "/path/to/scripts/extract_ichor_info.py"
  
  // input and output
  outdir      = "/path/to/output/folder/"
  reads       = "/paht/to/folder/bam-nanopore/"
  tf_table    = "tf_table.csv"

  basecalling = false 

  references {
    bwa = "/path/to/reference-genome-folder/bwa_GRCh38"
    fasta = "/path/to/reference-genome-folder/bwa_GRCh38/"
  }
}


manifest {
  name = 'Preprocessing and tumor fraction: Nanopore'
  author = 'Alessandra Bonilla'
  description = 'Pipeline for pre-preprocessing Nanopore uBAMs'
  mainScript = 'workflow_ichor.nf'
  nextflowVersion = '>=0.32.0'
  version = '1.0dev'
}

